body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  background: linear-gradient(to right, #f7b42c, #fc575e); 
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

code {
  font-family: 'Courier New', Courier, monospace; 
  background-color: #ffecd1; 
  color: #ff6347; 
  padding: 5px;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}




