body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  background-image: linear-gradient(to bottom, #89CFF0, #FFB347); 
  color: #333;
  transition: background-color 0.3s;
}

h1, h2, h3 {
  color: #D22B2B; 
  transition: color 0.3s;
  font-weight: bold; 
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ebf874;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px dashed #FF6A6A; 
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
  outline: none;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.5s, opacity 0.5s;
}

.button:hover {
  background-color: #81C784; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.button:active {
  background-color: #388E3C; 
  transform: scale(0.98);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.button:focus {
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #fff;
}

.table {
  display: block;
  margin: 10px 0;
}

.table-header, .table-row {
  display: flex;
  width: 100%;
}

.header__item, .table-data {
  flex: 1;
  padding: 8px;
  text-align: left;
}

.table-header {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table-row {
  border-bottom: 1px solid #ccc;
}

.table-row.shaded {
  background-color: #f9f9f9;
}

.table-row:hover {
  background-color: #eaf6ff; 
  transition: background-color 0.3s ease; 
}


