.main-page {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #A2D2FF; 
  }
  
  .main-page:hover {
    background-color: #FFAFCC; 
  }
  
  .main-page h1 {
    font-size: 2rem;
    color: #FF0000; 
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
  }
  
  .main-page h1:hover {
    color: #FF6347; 
    transform: scale(1.1);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.2); 
  }
  
  .main-page h1:active {
    transform: scale(0.9);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .main-page h1 {
    animation: fadeIn 1s ease-out; 
  }
  

