.nav {
    background: linear-gradient(to right, #FF6347, #FFD700); 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, padding 0.3s ease;
}

.nav:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    padding: 10px 30px; 
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex; 
    align-items: center;
}

.nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.2); 
    transition: left 0.3s ease;
    border-radius: 5px;
}

.nav a:hover::before, .nav a:focus::before {
    left: 0;
}

.nav a:hover, .nav a:focus {
    background-color: #007bff; 
    color: #FFEB3B; 
    transform: scale(1.05); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.nav a:active {
    transform: scale(0.95); 
    background-color: #01497c; 
}

.nav a:not(:last-child) {
    margin-right: 20px;
}

.nav a:last-child {
    background-color: #FF4500; 
}

.nav a:last-child:hover {
    background-color: #FF6347; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav a:hover .dropdown-content {
    display: block; 
}

.nav .active {
    font-weight: bold;
    background-color: #FFEB3B; 
    color: #007bff; 
}

.navbar-mario-kart {
    background-color: #FF6347; 
    color: #FFD700; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease-in-out; 
}

.navbar-mario-kart:hover {
    background-color: #FF4500;
}

